<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Page Object Model Framework">


	<listeners>
		<listener class-name="extentlisteners.ExtentListeners"></listener>

	</listeners>

	<test name="Find New Cars Test">
		<classes>

			<class name="testcases.FindNewCarTest" />

		</classes>
	</test> <!-- Test -->
	
	
	<test name="Car Name and Price Test">
		<classes>

			<class name="testcases.CarNameAndPriceTest" />

		</classes>
	</test> <!-- Test -->


</suite> <!-- Suite -->
